@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|VT323');

/* color palette:
- #1A2428
- #0B4F6C
- #525E63
- #7BB5CE
- #D9E1F4 */

body
{
    background: #1A2428;
}

#root
{
    margin: 0 auto;
    display: flex;
    color: #D9E1F4;
}

.the-task-switch
{
    width: 450px;
    margin: 0 auto;
}

.title
{
    font-family: 'Major Mono Display', monospace;
    font-size: 36px;
    text-align: center;
    margin: 12px;
}

.category-button-container,
.category-inputs-container
{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.category-button-loader
{
    width: 100%;
    text-align: center;
}

.category-button-loader,
.category-button,
.category-input,
.categories-editor-save
{
    border: 2px solid transparent;
    font-family: 'VT323', monospace;
    font-size: 24px;
    background: #0B4F6C;
    color: #D9E1F4;
    cursor: pointer;
    min-height: 30px;
}

.category-input
{
    cursor: text;
}

.category-button.selected
{
    border: 2px solid green;
}

.action-button-container
{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.action-button
{
    border: 2px solid transparent;
    font-family: 'VT323', monospace;
    font-size: 24px;
    min-height: 30px;
    background: #0B4F6C;
    color: #D9E1F4;
}

.action-button:not(.standby)
{
    cursor: pointer;
}

.action-button.accept
{
    border: 2px solid green;
}

.action-button.cancel
{
    border: 2px solid darkred;
}

.status-display
{
    font-family: 'Major Mono Display', monospace;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 18px;
    padding: 6px 12px;
    margin: 0px 5px;
    background: #7BB5CE;
    color: #1A2428;
}

.current-task-categories
{
    margin: 5px;
    height: 20px;
}

.status-times
{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    height: 20px;
}

.current-task-elapsed
{
    text-align: left;
}

.current-time
{
    text-align: right;
}

.categories-editor
{
    margin: 25px 5px;
}

.categories-editor-toggle
{
    border: 2px solid transparent;
    font-family: 'VT323', monospace;
    font-size: 24px;
    min-height: 30px;
    background: rgba(11, 79, 108, 0.2);
    color: rgba(217, 225, 244, 0.5);
    cursor: pointer;
}

.category-inputs-container:not(.open)
{
    display: none;
}

.user-info
{
    position: fixed;
    bottom: 12px;
    font-family: 'Major Mono Display', monospace;
    font-size: 12px;
    color: #525E63;
    text-align: right;
    width: 450px;
    margin: 0 auto;
    text-transform: lowercase;
}